.background-color-of-application{
    background-color: rgb(249, 250, 251);
    padding-top: 80px;
    padding-bottom: 20px;
    overflow-x: hidden;
}

.common-heding-green-tag{
    color: #023020;
    font-size: 1.5rem;
    font-weight: bold;
}

.landing-page-image{
    height: 90%;
    width: 100%;
    clip-path: polygon(18% 0,100% 0,80% 100%,0 100%);
}

.herbals-head-tag{
    /* color: #1c324a; */
    color: #8CBC4F;
    font-family: Prata,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-size: 1rem;
    line-height: 1;
    padding: 9px;
}

.aversa-herbals-para-tag-one{
    color: #000000;
    text-align: justify;
    font-family: Prata,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-size: 3rem;
    padding: 9px;
}

.pricing-off-gift-cards-hero{
    color: #000000;
    font-family: Prata,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-size: 1.5rem;
    line-height: 2;
    padding-left: 9px;
}

.mb-2{
    color: #194A33;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Prata,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;

}



.aversa-herbals-head-tag-two{
    color: #194A33;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Prata,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;

}


.hero-button{
    color: #8CBC4F;
    background-color: #8CBC4F;
    
}

.see-all-buttone{
    background-color: white;
    color: #194A33;
    border: 1px solid #1c324a;
    padding: 5px;
    border-radius: 10px;
    border-color: #194A33;
    font-size: 1.2rem;
}

.AVersa-more-info-card{
    width: 100%;
    height: 100%;
}

.aversa-herbals-para-tag-three{
    color: #9ca3af;
    font-family: Papyrus;
    font-size: 2.25rem;
    font-weight: 500;
    text-align: center;
}

.happy-guy-image{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 #000, 0 0 #000, 0 1px 26px 0 #000000;

}

.card-container{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    height: 450px;
    padding: 30px;
    margin: 10px;
    margin-right: 0;
    margin-left: 0;
}

.cardd{
    width: 100%;
    height: 400px;
    z-index: 1;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 15px;
    background-image: url('../../Assets/card2.png');
    color: #8CBC4F;
    font-family: Prata,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-size: 1rem;
    line-height: 1;
    padding: 9px;
    transition: transform 0.2s ease-in-out;
}


.cardd:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card2-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    height: 450px;
    padding: 100px;
    margin: 10px;
    margin-right: 0;
    margin-left: 0;
}

.card2{
    height: 315.4px;
    width: 369.34px;
    flex-wrap: wrap;
    margin: 15px;
    font-family: Prata,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-size: 1rem;
    line-height: 2;
    padding: 9px;
    transition: transform 0.2s ease-in-out;
}


.para-card2{
    color: #194A33;
    font-family: Prata,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-size: 1.1rem;
    line-height: 1.2;
    padding: 9px;
}

.middle-section-after-cards{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 5px;
    margin-right: 0px;
    margin-left: 0px;
}

.featured-product{
    height: 54px;
    width: 1148px ;
    font-size: 50px;
    font-weight: bold;
    color: #194A33;
    flex-wrap: wrap;
    
}

.featured-product-para{
    color: #b7c48b;
    font-family: Prata,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-size: 1.4rem;
    line-height: 1;
    padding: 9px;
    text-align: center;
}

herbals-head-tag-h4{
    text-align: center;
    color: #8CBC4F;
    font-family: Prata,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-size: 1rem;
    line-height: 1;
    padding: 9px;
    margin-left: 0%;
    margin-right: 0%;
}

.mt-5 h4{
    text-align: center;
    color: #8CBC4F;
}

.mt-5 p{
    text-align: center;
    color: #194A33;
}